In [1]:
#Load Libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
#reading the dataset
data = pd.read_csv('Student_dataset1.csv')

In [3]:
#To view the rows and columns
data.shape

(44, 30)

In [4]:
data.head()

,Timestamp,Name(Optional),Age,Gender,Are you a Mount Carmel Student?,"Enter your combination (Eg : BCA, ECE, BA PyEE, BCOM Honors, etc.)",Year of joining,Year of completion,"Please enter your percentage for first semester,(please convert your cgpa into *percentage* and enter it!)",Please enter your percentage for previous semester(please convert your cgpa into percentage and enter it!),...,"On a scale of 1-5 , 1 being the least , how distracted were you by the following? [Social Media]","On a scale of 1-5 , 1 being the least , how distracted were you by the following? [Gaming]","On a scale of 1-5 , 1 being the least , how distracted were you by the following? [Sleeping]","On a scale of 1-5 , 1 being the least , how distracted were you by the following? [TV/Streaming on laptop]","On a scale of 1-5 , 1 being the least , how distracted were you by the following? [Snacking]",Do you listen to music while you are studying?,What were the difficulties faced while studying online?,Most Preferred days of learning?,"In a day , how much caffeine-related beverages do you consume?",The most comfortable mode of study
0,2022/03/25 11:24:16 AM GMT+5:30,Sandra,20,Female,No,PSEco,2020,2023,87.50,82.5,...,4,1,4,3,4,Sometimes,Short Attention span,Tuesday;Friday,2,Offline
1,2022/03/25 12:31:39 PM GMT+5:30,NaN,20,Female,No,BBA,2019,2022,80.01,89.0,...,4,3,5,3,2,No,Short Attention span,Tuesday,2,Online
2,2022/03/25 12:38:21 PM GMT+5:30,NaN,19,Female,No,PSEco,2020,2023,82.00,81.0,...,5,2,5,5,5,Sometimes,Short Attention span,Monday;Wednesday;Friday,2,Hybrid
3,2022/03/25 1:08:11 PM GMT+5:30,SG,21,Female,No,BDes in Human Centered Design,2020,2024,75.00,78.6,...,4,1,4,4,4,Yes,Short Attention span,Tuesday;Wednesday;Thursday;Friday;Saturday,5,Offline
4,2022/03/25 5:42:38 PM GMT+5:30,NaN,23,Male,No,ME,2017,2021,78.00,83.0,...,3,4,4,3,3,Yes,Short Attention span,Monday;Tuesday;Wednesday;Thursday;Friday,1,Hybrid

In [5]:
#to rename the columns
data.rename(columns={'Are you a Mount Carmel Student?': 'MCC_Student',
                   'Enter your combination (Eg : BCA, ECE, BA PyEE, BCOM Honors, etc.)': 'Combination',
                   'Year of joining':'Start_year',
                  'Year of completion':'End_year',
                    'Please enter your percentage for first semester,(please convert your cgpa into *percentage* and enter it!) ':'Perc_1',
                    'Please enter your percentage for previous semester(please convert your cgpa into percentage and enter it!) ':'Perc_prev',
                    'On a scale of 1-5 , 1 being the least , how distracted were you by the following? [Social Media]':'Distracted_social_media',
                    'On a scale of 1-5 , 1 being the least , how distracted were you by the following? [Gaming]':'Distracted_gaming',
                    'On a scale of 1-5 , 1 being the least , how distracted were you by the following? [Sleeping]':'Distracted_sleep',
                    'On a scale of 1-5 , 1 being the least , how distracted were you by the following? [TV/Streaming on laptop]':'Distracted_streaming',
                     'On a scale of 1-5 , 1 being the least , how distracted were you by the following? [Snacking]':'Distracted_snacking',
                    'Do you listen to music while you are studying?':'Music',
                    'What were the difficulties faced while studying online?':'Difficulties',
                     'Most Preferred days of learning?':'Learn_days',
                     'In a day , how much caffeine-related beverages do you consume?':'Coffee_consumption',
                     'The most comfortable mode of study':'Preferred_studymode',    
                     'Average time you spend studying/course related work in a day?':'Avg_time_studying',
                     'How productive were you during online classes?':'Productivity',
                     'What were your resources for studying during covid?':'Resources',
                     'On a scale of 1-5 , 1 being the least, how utilitarian were the following materials for your studies? [Text Books]':'Utilitarian_textbooks',
                     'On a scale of 1-5 , 1 being the least, how utilitarian were the following materials for your studies? [Online documented resources ]':'Utilitarian_onlinedoc',
                     'How conducive was your home environment for online classes?':'Conducive_env',
                     'On a scale of 1-5 , 1 being the least, how utilitarian were the following materials for your studies? [Tutorial websites, Journals and news articles]':'Utilitarian_websites',
                     'On a scale of 1-5 , 1 being the least, how utilitarian were the following materials for your studies? [Youtube(Topic related videos)]':'Utilitarian_youtube',
                     "On a scale of 1-5 , 1 being the least, teacher's performance based on constructive teaching [Online]":"Teacher_online",
                     "On a scale of 1-5 , 1 being the least, teacher's performance based on constructive teaching [Offline]":"Teacher_offline"

                    },
          inplace=True, errors='raise')

In [6]:
data.head()

,Timestamp,Name(Optional),Age,Gender,MCC_Student,Combination,Start_year,End_year,Perc_1,Perc_prev,...,Distracted_social_media,Distracted_gaming,Distracted_sleep,Distracted_streaming,Distracted_snacking,Music,Difficulties,Learn_days,Coffee_consumption,Preferred_studymode
0,2022/03/25 11:24:16 AM GMT+5:30,Sandra,20,Female,No,PSEco,2020,2023,87.50,82.5,...,4,1,4,3,4,Sometimes,Short Attention span,Tuesday;Friday,2,Offline
1,2022/03/25 12:31:39 PM GMT+5:30,NaN,20,Female,No,BBA,2019,2022,80.01,89.0,...,4,3,5,3,2,No,Short Attention span,Tuesday,2,Online
2,2022/03/25 12:38:21 PM GMT+5:30,NaN,19,Female,No,PSEco,2020,2023,82.00,81.0,...,5,2,5,5,5,Sometimes,Short Attention span,Monday;Wednesday;Friday,2,Hybrid
3,2022/03/25 1:08:11 PM GMT+5:30,SG,21,Female,No,BDes in Human Centered Design,2020,2024,75.00,78.6,...,4,1,4,4,4,Yes,Short Attention span,Tuesday;Wednesday;Thursday;Friday;Saturday,5,Offline
4,2022/03/25 5:42:38 PM GMT+5:30,NaN,23,Male,No,ME,2017,2021,78.00,83.0,...,3,4,4,3,3,Yes,Short Attention span,Monday;Tuesday;Wednesday;Thursday;Friday,1,Hybrid

In [7]:
data['Learn_days'].value_counts()

Saturday;Sunday                                             5
Monday;Tuesday;Wednesday;Thursday;Friday                    5
Monday;Tuesday;Wednesday;Thursday                           4
Thursday                                                    2
Thursday;Friday                                             2
Monday;Tuesday;Wednesday                                    2
Saturday                                                    2
Monday                                                      2
Monday;Tuesday;Thursday;Saturday                            2
Monday;Wednesday;Friday                                     2
Wednesday;Thursday;Friday                                   1
Tuesday;Wednesday;Thursday                                  1
Friday;Saturday                                             1
Thursday;Friday;Saturday                                    1
Tuesday;Wednesday;Friday                                    1
Tuesday;Wednesday;Thursday;Friday                           1
Tuesday;Wednesday                                           1
Tuesday;Friday                                              1
Monday;Tuesday;Wednesday;Thursday;Friday;Saturday;Sunday    1
Friday;Saturday;Sunday                                      1
Tuesday                                                     1
Wednesday;Friday                                            1
Monday;Tuesday;Wednesday;Thursday;Saturday                  1
Monday;Sunday                                               1
Tuesday;Wednesday;Thursday;Friday;Saturday                  1
Sunday                                                      1
Name: Learn_days, dtype: int64

In [8]:
data['Learn_days']=data['Learn_days'].astype('category')

In [9]:
data['MCC_Student']=data['MCC_Student'].astype('category')

In [10]:
data['Combination']=data['Combination'].astype('category')

In [11]:
data['Resources']=data['Resources'].astype('category')

In [12]:
data['Music']=data['Music'].astype('category')

In [13]:
data['Difficulties']=data['Difficulties'].astype('category')

In [14]:
data['Gender']=data['Gender'].astype('category')

In [15]:
data['Preferred_studymode']=data['Preferred_studymode'].astype('category')

In [16]:
data.dtypes

Timestamp                    object
Name(Optional)               object
Age                           int64
Gender                     category
MCC_Student                category
Combination                category
Start_year                    int64
End_year                      int64
Perc_1                      float64
Perc_prev                   float64
Resources                  category
Avg_time_studying             int64
Productivity                  int64
Utilitarian_textbooks         int64
Utilitarian_onlinedoc         int64
Utilitarian_websites          int64
Utilitarian_youtube           int64
Teacher_online                int64
Teacher_offline               int64
Conducive_env                 int64
Distracted_social_media       int64
Distracted_gaming             int64
Distracted_sleep              int64
Distracted_streaming          int64
Distracted_snacking           int64
Music                      category
Difficulties               category
Learn_days                 category
Coffee_consumption            int64
Preferred_studymode        category
dtype: object

In [17]:
percentage_total = data['Perc_1']+data['Perc_prev']
percentage_total

0     170.00
1     169.01
2     163.00
3     153.60
4     161.00
5     156.00
6     136.00
7     138.00
8     179.00
9     167.00
10    173.00
11    174.00
12    174.00
13    153.00
14    170.00
15    160.00
16    179.00
17    143.00
18    166.00
19    165.40
20    142.00
21    161.00
22    157.00
23    187.00
24    148.00
25    169.00
26    124.00
27    133.00
28    166.80
29    149.00
30    175.00
31    172.00
32    152.00
33    145.00
34    167.00
35    144.00
36     15.00
37    144.00
38    166.00
39    176.00
40    174.00
41    148.00
42    179.00
43    152.00
dtype: float64

In [18]:
percentage_mean = percentage_total/2
percentage_mean

0     85.000
1     84.505
2     81.500
3     76.800
4     80.500
5     78.000
6     68.000
7     69.000
8     89.500
9     83.500
10    86.500
11    87.000
12    87.000
13    76.500
14    85.000
15    80.000
16    89.500
17    71.500
18    83.000
19    82.700
20    71.000
21    80.500
22    78.500
23    93.500
24    74.000
25    84.500
26    62.000
27    66.500
28    83.400
29    74.500
30    87.500
31    86.000
32    76.000
33    72.500
34    83.500
35    72.000
36     7.500
37    72.000
38    83.000
39    88.000
40    87.000
41    74.000
42    89.500
43    76.000
dtype: float64

In [19]:
data.insert(10, "percentage_mean", percentage_mean)

In [20]:
data.head()

,Timestamp,Name(Optional),Age,Gender,MCC_Student,Combination,Start_year,End_year,Perc_1,Perc_prev,...,Distracted_social_media,Distracted_gaming,Distracted_sleep,Distracted_streaming,Distracted_snacking,Music,Difficulties,Learn_days,Coffee_consumption,Preferred_studymode
0,2022/03/25 11:24:16 AM GMT+5:30,Sandra,20,Female,No,PSEco,2020,2023,87.50,82.5,...,4,1,4,3,4,Sometimes,Short Attention span,Tuesday;Friday,2,Offline
1,2022/03/25 12:31:39 PM GMT+5:30,NaN,20,Female,No,BBA,2019,2022,80.01,89.0,...,4,3,5,3,2,No,Short Attention span,Tuesday,2,Online
2,2022/03/25 12:38:21 PM GMT+5:30,NaN,19,Female,No,PSEco,2020,2023,82.00,81.0,...,5,2,5,5,5,Sometimes,Short Attention span,Monday;Wednesday;Friday,2,Hybrid
3,2022/03/25 1:08:11 PM GMT+5:30,SG,21,Female,No,BDes in Human Centered Design,2020,2024,75.00,78.6,...,4,1,4,4,4,Yes,Short Attention span,Tuesday;Wednesday;Thursday;Friday;Saturday,5,Offline
4,2022/03/25 5:42:38 PM GMT+5:30,NaN,23,Male,No,ME,2017,2021,78.00,83.0,...,3,4,4,3,3,Yes,Short Attention span,Monday;Tuesday;Wednesday;Thursday;Friday,1,Hybrid

In [21]:
data.columns

Index(['Timestamp', 'Name(Optional)', 'Age', 'Gender', 'MCC_Student',
       'Combination', 'Start_year', 'End_year', 'Perc_1', 'Perc_prev',
       'percentage_mean', 'Resources', 'Avg_time_studying', 'Productivity',
       'Utilitarian_textbooks', 'Utilitarian_onlinedoc',
       'Utilitarian_websites', 'Utilitarian_youtube', 'Teacher_online',
       'Teacher_offline', 'Conducive_env', 'Distracted_social_media',
       'Distracted_gaming', 'Distracted_sleep', 'Distracted_streaming',
       'Distracted_snacking', 'Music', 'Difficulties', 'Learn_days',
       'Coffee_consumption', 'Preferred_studymode'],
      dtype='object')

In [22]:
from sklearn.utils import shuffle 
 
# Shuffling the Dataset 
data = shuffle(data, random_state = 42) 
 
#creating 4 divisions 
div = int(data.shape[0]/4) 
 
# 3 parts to train set and 1 part to test set 
train = data.loc[:3*div+1,:] 
test = data.loc[3*div+1:]

In [23]:
train.head()

,Timestamp,Name(Optional),Age,Gender,MCC_Student,Combination,Start_year,End_year,Perc_1,Perc_prev,...,Distracted_social_media,Distracted_gaming,Distracted_sleep,Distracted_streaming,Distracted_snacking,Music,Difficulties,Learn_days,Coffee_consumption,Preferred_studymode
37,2022/04/14 10:03:52 PM GMT+5:30,Bindu,21,Female,Yes,BCA,2019,2022,74.0,70.0,...,2,1,5,1,1,No,Short Attention span,Wednesday;Thursday;Friday,1,Offline
24,2022/04/14 7:48:43 PM GMT+5:30,NaN,20,Female,Yes,BCA,2019,2022,70.0,78.0,...,5,5,5,5,5,Sometimes,Technical Difficulties(Eg : No proper laptops),Saturday;Sunday,0,Hybrid
25,2022/04/14 7:50:15 PM GMT+5:30,Ranjitha,21,Female,No,B.Tech,2019,2023,83.0,86.0,...,4,1,4,4,4,Yes,Eye strain/ Dry eye,Friday;Saturday;Sunday,2,Hybrid
36,2022/04/14 9:29:49 PM GMT+5:30,Manasa,21,Female,Yes,Bsc CMS,2019,2022,7.1,7.9,...,5,4,4,5,3,No,Short Attention span,Tuesday;Wednesday;Thursday,7,Online
34,2022/04/14 8:43:50 PM GMT+5:30,NaN,20,Female,Yes,BCA,2019,2022,86.0,81.0,...,2,4,5,4,5,Sometimes,Power outage,Friday;Saturday,5,Offline

In [24]:
test.head()

,Timestamp,Name(Optional),Age,Gender,MCC_Student,Combination,Start_year,End_year,Perc_1,Perc_prev,...,Distracted_social_media,Distracted_gaming,Distracted_sleep,Distracted_streaming,Distracted_snacking,Music,Difficulties,Learn_days,Coffee_consumption,Preferred_studymode
34,2022/04/14 8:43:50 PM GMT+5:30,NaN,20,Female,Yes,BCA,2019,2022,86.0,81.0,...,2,4,5,4,5,Sometimes,Power outage,Friday;Saturday,5,Offline
40,2022/04/15 11:31:14 AM GMT+5:30,Prachi,20,Female,No,BA Political Science,2019,2022,85.0,89.0,...,3,3,3,3,3,No,Background noise,Thursday;Friday;Saturday,1,Offline
4,2022/03/25 5:42:38 PM GMT+5:30,NaN,23,Male,No,ME,2017,2021,78.0,83.0,...,3,4,4,3,3,Yes,Short Attention span,Monday;Tuesday;Wednesday;Thursday;Friday,1,Hybrid
12,2022/03/25 7:01:18 PM GMT+5:30,NaN,18,Female,No,BCA,2019,2022,88.0,86.0,...,2,2,1,3,3,Sometimes,Technical Difficulties(Eg : No proper laptops),Monday;Tuesday;Wednesday;Thursday;Saturday,4,Offline
8,2022/03/25 6:16:45 PM GMT+5:30,Jawahar Unnisa N,20,Female,No,BCA,2019,2022,87.0,92.0,...,4,2,4,4,2,Yes,Eye strain/ Dry eye,Monday;Sunday,4,Offline

In [25]:

test['simple_mean']=train['percentage_mean'].mean()

In [26]:
from sklearn.metrics import mean_absolute_error as mae
error= mae(test['percentage_mean'],test['simple_mean'])

In [27]:
error

16.062625000000004

In [28]:
avg_per = pd.pivot_table(train, values='percentage_mean', index = ['Avg_time_studying'], aggfunc=np.mean) 
avg_per

                   percentage_mean
Avg_time_studying
1                             45.5
2                             84.5
3                             74.0
5                             72.0

In [29]:
# initializing new column to zero 
test['avg_per_mean'] = 0 
 
# For every unique entry in Outlet_Identifier 
for i in train['Productivity'].unique(): 
  # Assign the mean value corresponding to unique entry 
  test['avg_per_mean'][test['Productivity'] == str(i)] = train['percentage_mean'][train['Productivity'] == str(i)].mean()

In [30]:
#calculating mean absolute error 
avg_per_error = mae(test['percentage_mean'] , test['avg_per_mean'] ) 
avg_per_error

80.247625

In [31]:
combo = pd.pivot_table(train, values = 'percentage_mean', index = ['Productivity','Avg_time_studying'], aggfunc = np.mean) 
combo

                                percentage_mean
Productivity Avg_time_studying
1            1                             83.5
2            5                             72.0
3            2                             84.5
4            1                              7.5
             3                             74.0

In [32]:
# Initiating new empty column 
test['Super_mean'] = 0 
 
# Assigning variables to strings ( to shorten code length) 
s2 = 'Productivity' 
s1 = 'Avg_time_studying' 
 
# For every Unique Value in s1 
for i in test[s1].unique(): 
  # For every Unique Value in s2 
  for j in test[s2].unique(): 
    # Calculate and Assign mean to new column, corresponding to both unique values of s1 and s2 simultaneously 
    test['Super_mean'][(test[s1] == i) & (test[s2]==str(j))] = train['percentage_mean'][(train[s1] == i) & (train[s2]==str(j))].mean()

In [33]:
#calculating mean absolute error 
super_mean_error = mae(test['percentage_mean'] , test['Super_mean'] ) 
super_mean_error

80.247625